.header{
  text-align: center;
  color:white;
  font-size: 28pt;
  font-weight: normal;
  margin-bottom: 0;
}
.selector{
  text-align: center;
  color:white;
  font-size: 20pt;
  font-weight: normal;
}
.card__container{
  margin: 0 auto;
  display: flex;
  justify-content: none;
  max-width: 1024px;
  flex-wrap: wrap;  
}
.card{
  max-width: 266px;
  border:solid white 1px;
  padding:10px;
  border-radius: 7px;
  background-color: #383838;
  margin:20px;
  position: relative;
}
.card:hover{
  box-shadow: 0px 1px 8px 4px rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.card__bottom{
  margin-top: 5px;
  margin-left: 10px;
}
.card__text{
  flex:3;
  color:white;
}
.card__icon{
  flex:1;
}
.modal{
  background-color: #383838;
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width:100%;
  border-radius: 7px;
  z-index: 99999999;
}
.modal__text{
  margin:10px;
  margin-top:50%;
  text-align: center;
  color:white;
  font-size: 14pt;
}
.modal__menu{
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  color: white;
  font-size: 16pt;
}
.modal__menu a:hover{
  text-shadow: 0px 0px 10px #FFFFFF;
  color:lime;
  cursor: pointer;
}

@media only screen and (max-width: 1025px) {
  .card__container{
    justify-content: center;
  }  
}

@media only screen and (max-width: 600px) {
  .card{
    max-width: 320px;
  }
}