p{
  margin:0;
}
.game{
  margin:0 auto;
  max-width: 1024px;
}

.status{
  justify-content: space-around;
  

}
.status__text{  
  color:white;
  font-weight: normal;
  margin:4px;
}
.actionbar{
  display: flex;
  justify-content: center;
  padding:5px;
  border-radius: 5px;
  background-color: green;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 20px;
}
.actionbar:hover{
  background-color: darkgreen;
  cursor:pointer;
  box-shadow: 0px 0.5px 4px 2px white;
}
#desktop__button{
  display: none;
}
.button{
  color:white;
}
.gameboard{
  border:solid white 1px;
  max-width: 318px;
  margin:0 auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.row{
  display: flex;
  justify-content: center;
}
.reverse{
  flex-direction: row-reverse;
}
.tile{
  height:50px;
  width:50px;
  border: solid red 1px;
  margin:4px;
  background-color: #414042;
  font-family: header;
  color:white;
  border-radius: 5px;
  position: relative;
  padding-left: 4px;
}
.trap{
  background-image: url(../asset/trap.png);
  background-position: center;
  background-size: contain;
}
.ramsey{
  background-image: url(../asset/ramsey.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.player{
  position: absolute;  
  width:35px;
}
.player1{
  right:5px;
  bottom:20px;
}
.player2{
  left:5px;
  bottom:2px;
}
.goal__text{
  margin-left: 3px;
  font-size:14pt;
  margin-top:30%;
}
@media only screen and (min-width: 700px) {
  .gameboard{
    max-width: 700px;
  }
  .tile{
    max-width: 700px;
    height:110px;
    width:110px;
    margin:10px;
    font-size: 16pt;
  }
  .player{
    width:60px;
  }
  .goal__text{
    text-align: center;
    font-weight: normal;
    margin-top:40%;
    font-size: 25pt;
  }
  .actionbar{
    max-width: 500px;
    padding:10px;
  }
}
@media only screen and (min-width: 1024px) {
  .gameboard{
    max-width: 600px;
  }
  .tile{
    max-width: 700px;
    height:80px;
    width:80px;
    margin:10px;
    font-size: 16pt;
  }
  .player{
    width:50px;
  }
  .goal__text{
    text-align: center;
    font-weight: normal;
    margin-top:35%;
    font-size: 20pt;
  }
  .status{
    max-width: 600px;
    margin:0 auto;
    align-items: center;
  }
  .button{
    
  }
  #mobile__button{
    display: none;
  }
  #desktop__button{
    display: flex;
    margin: 0;
  }
}