@keyframes progress {
  from{width:0%;}
  to{width:100%;}
}
p{
  margin:0;
}
.game{
  margin:0 auto;
  max-width: 1024px;
}
.modal{
  position: absolute;
  height: 100%;
  width:100%;
  background-color: #414042;
  z-index: 9999999;
  display: none;
  justify-content: center;  
}
.dice__container{
  margin-top: 10px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
}
.progress_bar{
  background-color: white;
  height: 20px;
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 5px;
}
.progress{
  height:100%;
  width:50%;
  border-radius: 5px;
  background-color: green;
  animation-name: progress;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.trapbox{
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.trap__text{
  color:white;
  padding:20px;
  margin-top: 40px;
}
.ramsey_img_container{
  padding:10px;
  display: none;
  max-width: 200px;
}
.status{
  justify-content: space-around;
  align-items: center;
}
.status__text{  
  color:white;
  font-weight: normal;
  margin:4px;
}
.actionbar{
  display: flex;
  justify-content: center;
  padding:5px;
  border-radius: 5px;
  background-color: green;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 20px;
}
.actionbar:hover{
  background-color: darkgreen;
  cursor:pointer;
  box-shadow: 0px 0.5px 4px 2px white;
}
#desktop__button{
  display: none;
  margin-top: 0;
}
.button{
  color:white;
}
.gameboard{
  border:solid white 1px;
  max-width: 318px;
  margin:0 auto;
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.row{
  display: flex;
  justify-content: center;
}
.reverse{
  flex-direction: row-reverse;
}
.tile{
  height:50px;
  width:50px;  
  margin:4px;
  background-color: #414042;
  font-family: header;
  color:white;
  border-radius: 5px;
  position: relative;
  padding-left: 4px;
}
.trap{
  background-image: url(../asset/trap.png);
  background-position: center;
  background-size: contain;
  border: solid red 1px;
}
.ramsey{
  background-image: url(../asset/ramsey.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: solid red 1px;
}
.player{
  position: absolute;  
  width:35px;
}
.player1{
  right:5px;
  bottom:20px;
  z-index: 8888;
}
.player2{
  left:5px;
  bottom:2px;
  z-index: 9999;
}
.goal__text{
  margin-left: 3px;
  font-size:14pt;
  margin-top:30%;
}
.footstep{
  position: absolute;
  left:0;
}

@media only screen and (min-width: 700px) {
  .gameboard{
    max-width: 700px;
  }
  .dice__container{
    margin-top: 100px;
  }
  .tile{
    max-width: 700px;
    height:110px;
    width:110px;
    margin:10px;
    font-size: 16pt;
  }
  .player{
    width:60px;
  }
  .goal__text{
    text-align: center;
    font-weight: normal;
    margin-top:40%;
    font-size: 25pt;
  }
  .actionbar{
    max-width: 500px;
    padding:10px;
  }
  .trap__text{
    font-size: 18pt;
    margin-top: 80px;
  }
  .trapbox{
    flex-direction: row;
    align-items: flex-start;
  }
  .ramsey_img_container{
    margin-top: 60px;
  }
}

@media only screen and (min-width: 1024px) {
  .gameboard{
    max-width: 600px;
  }
  .tile{
    max-width: 700px;
    height:80px;
    width:80px;
    margin:8px;
    font-size: 16pt;
  }
  .player{
    width:50px;
  }
  .goal__text{
    text-align: center;
    font-weight: normal;
    margin-top:35%;
    font-size: 20pt;
  }
  .status{
    max-width: 600px;
    margin:0 auto;
    align-items: center;
  }  
  #mobile__button{
    display: none;
  }
  #desktop__button{
    display: flex;
    margin: 0;
  }
  .dice__container{
    margin-top: 80px;
  }
  .trap__text{
    font-size: 18pt;
    margin-top: 80px;
  }
}