html{
  overflow: hidden;
  height:100%;
}
body{
  overflow: hidden;
  height: 100%;
}
.bg { 
  background: url('../backgrounds/victory.jpg');
  background-size: 100vw 100vh;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1000;
}
.header{
  color:white;
  text-align: center;
  margin-top: 50px;
  font-weight: normal;
  font-size: 40pt;
}
.victory_card{
  margin:30px;
  margin: 0 auto;
  max-width: 1024px;
  background-color: #383838;
  padding:10px;  
  border-radius: 8px;
  border: solid green 2px;  
}
.img__container{
  flex:1;
}
.text__container{
  flex:2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;  
}
.text{
  text-align: center;
  color:yellow;
  font-size: 20pt;
  padding:10px;
}
.button__container{  
  justify-content: space-around;
}
.button{
  color:white;
  font-size: 20pt;  
}
.button:hover{
  color:lime;
  text-shadow: 0px 0px 10px #FFFFFF;
  cursor:pointer;
}
#mobile{
  display: none;
}
#desktop{
  display: flex;
}
.impact{
  position: absolute;  
  height:30vh;
  width:30vh;  
  display: flex;
  justify-content: center;
  align-items: center;
}
.impactRel{
  height:100%;
  width:100%;
  position: relative;  
  animation-name: explosion;
  animation-duration: 2s;
  animation-timing-function: ease-out;  
}
.particle{  
  background-color: white;
  height:5px;
  width:5px;
  position: absolute;  
  border-radius: 50%;
  animation-name: particle;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

@keyframes particle{
  0%{background-color: white;}
  10%{background-color: white;}
  25%{background-color: red; height:5px; opacity: 1;}
  50%{background-color: orange; height: 5px; opacity: 1;}
  75%{background-color: yellow; height: 10px; opacity: 0.5;}
  100%{opacity: 0; height: 15px; background-color: yellow;}
}

@keyframes explosion{
  from{width:0%; height:0%;}
  to{width:100%; height:100%;}
}

@media only screen and (max-width: 600px) {
  .header{
    font-size: 25pt;
  }
  .text{
    font-size: 14pt;
  }
  .button{
    font-size: 15pt;
  }
  #mobile{
    display: flex;
    margin-top: 10px;
    
  }
  #desktop{
    display: none;
  }
}